*{
  font-family: sans-serif;
  color: #484848;
}
#usable{
  position: relative;
  width: 500px;
  margin:auto;
}

#nav {
  margin-top: 30px;
  border-top: solid #efefef 1px;
  border-bottom: solid #efefef 1px;
}

#nav ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-size: small;
}

#nav li {
  display: inline-block;
  border-top: solid white 1px;

}

#nav a {
  display: inline-block;
  min-width: 50px;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 13px;
  text-decoration: none;
  text-transform: uppercase;
  color: #BFBFBF;
}

#nav li:hover {
  border-top: solid #484848 1px;
}

#nav a:hover {
  color: #484848;
}


#follow-buttons ul{
  float: right;
  list-style-type: none;
  padding: 0px 15px 5px 15px;
  margin-top: 0px;
  margin-right: 0px;
  border-bottom: solid #efefef 1px;
}

#follow-buttons li{
  display: inline-block;
  padding-right: 5px;
}

#follow-buttons img{
  width: 20px;
  opacity: 0.3;
}
#follow-buttons img:hover{
  opacity: 0.8;
}
#under-nav{
  margin-top: 10px;
  height: 15px;
}

#page-description{
  margin: 10px 10px 0px 10px;
  min-height: 30px;
}
#page-description p{
  line-height: 20px;
  font-size: smaller;
  margin-top: -10px;
  padding: 0px;
}

#page-description h3{
  margin-right: 140px;
  margin-top: 20px;
}


#content{
  width: 95%;
  height: 500px;
  margin: auto;
  padding-top: 10px;
}


#content p{
  color: #484848;
  line-height: 20px;
  font-size: smaller;
}



